[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.1.1"
python-json-logger = ">=0.1.10"
pyyaml = ">=5.1.2"
anyconfig = ">=0.9.8"
swagger-ui-bundle = ">=0.0.2"
connexion = {extras = ["swagger-ui"],version = "==2.4.0"}
jaeger-client = "==4.2.0"
flask-opentracing = "*"
opentracing = ">=2.1"
opentracing-instrumentation = "==3.2.1"
prometheus_client = ">=0.7.1"
[dev-packages]
requests-mock = "*"
coverage = "==4.5.4"
pytest = "*"
pytest-cov = "*"
pylint = "*"
flake8 = "*"
tox = "*"
bandit = "*"
mkdocs = "*"
lightstep = "==4.3.0"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
