[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-json-logger = ">=0.1.10"
pyyaml = ">=4.2b4"
anyconfig = ">=0.9.8"
swagger-ui-bundle = ">=0.0.2"
connexion = {extras = ["swagger-ui"],version = ">=2.2.0"}
lightstep = "*"
flask-opentracing = "*"

[dev-packages]
requests-mock = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
tox = "*"
safety = "*"
bandit = "*"
mkdocs = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
