anyconfig==0.9.9
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
bandit==1.6.2
basictracer==3.1.0
bleach==3.1.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2018.0.dev1
coverage==5.0a5
coveralls==1.5.1
docopt==0.6.2
docutils==0.14
dparse==0.4.1
filelock==3.0.12
Flask==1.0.3
Flask-OpenTracing==1.0.0
gitdb2==2.0.5
GitPython==2.1.11
googleapis-common-protos==1.6.0
idna==2.8
importlib-metadata==0.18
inflection==0.3.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
jsonpickle==1.2
jsonschema==2.6.0
lazy-object-proxy==1.4.1
lightstep==4.2.0
livereload==2.6.1
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
mkdocs==1.0.4
mock==2.0.0
more-itertools==7.1.0
nose==1.3.7
numpy==1.17.0
openapi-spec-validator==0.2.7
opentracing==2.0.0
packaging==19.0
pbr==5.3.1
pkginfo==1.5.0.1
pluggy==0.12.0
protobuf==3.9.0rc1
py==1.8.0
Pygments==2.3.1
pylint==2.3.1
pyparsing==2.4.0
pytest==5.0.0
pytest-cov==2.7.1
python-coveralls==2.9.1
python-json-logger==0.1.11
PyYAML==5.1.1
readme-renderer==24.0
requests==2.22.0
requests-mock==1.6.0
requests-toolbelt==0.8.0
safety==1.8.5
six==1.12.0
smmap2==2.0.5
stevedore==1.30.1
swagger-ui-bundle==0.0.5
thrift==0.11.0
toml==0.10.0
tornado==6.0.3
tox==3.13.2
tqdm==4.30.0
twine==1.12.1
typed-ast==1.4.0
urllib3==1.25.3
virtualenv==16.6.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
wrapt==1.11.2
zipp==0.5.1
