anyconfig==0.9.10
astroid==2.3.2
atomicwrites==1.3.0
attrs==19.3.0
bandit==1.6.2
basictracer==3.1.0
bleach==3.1.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2018.0.dev1
contextlib2==0.6.0.post1
coverage==4.4
coveralls==1.8.2
docopt==0.6.2
docutils==0.14
dparse==0.4.1
filelock==3.0.12
Flask==1.1.1
Flask-OpenTracing==1.1.0
future==0.18.2
gitdb2==2.0.6
GitPython==3.0.4
googleapis-common-protos==1.6.0
idna==2.8
importlib-metadata==0.23
inflection==0.3.1
isort==4.3.21
itsdangerous==1.1.0
jaeger-client==4.1.0
Jinja2==2.10.3
jsonpickle==1.2
jsonschema==2.6.0
lazy-object-proxy==1.4.3
lightstep==4.2.0
livereload==2.6.1
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
mkdocs==1.0.4
mock==2.0.0
more-itertools==7.2.0
nose==1.3.7
numpy==1.16.1
openapi-spec-validator==0.2.8
opentracing==2.2.0
opentracing-instrumentation==3.2.1
packaging==19.2
pbr==5.4.3
pkginfo==1.5.0.1
pluggy==0.13.0
protobuf==3.9.0rc1
py==1.8.0
py-ms==1.0.1
Pygments==2.3.1
pylint==2.4.3
pyparsing==2.4.2
pytest==5.2.2
pytest-cov==2.8.1
python-coveralls==2.9.1
python-json-logger==0.1.11
PyYAML==5.1.2
readme-renderer==24.0
requests==2.22.0
requests-mock==1.7.0
requests-toolbelt==0.8.0
safety==1.8.5
six==1.12.0
smmap2==2.0.5
stevedore==1.31.0
swagger-ui-bundle==0.0.5
threadloop==1.0.2
thrift==0.11.0
toml==0.10.0
tornado==5.1.1
tox==3.14.0
tqdm==4.30.0
twine==1.12.1
typed-ast==1.4.0
urllib3==1.25.6
virtualenv==16.7.7
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
zipp==0.6.0
prometheus_client==0.7.1
