anyconfig==0.9.8
astroid==2.2.0.dev0
atomicwrites==1.2.1
attrs==18.2.0
bandit==1.5.1
basictracer==3.0.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2018.0.dev1
coverage==5.0a4
coveralls==1.5.1
docopt==0.6.2
dparse==0.4.1
filelock==3.0.10
Flask==1.0.2
Flask-OpenTracing==1.0.0
gitdb2==2.0.5
GitPython==2.1.11
googleapis-common-protos==1.5.3
idna==2.8
inflection==0.3.1
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10
jsonpickle==1.1
jsonschema==2.6.0
lazy-object-proxy==1.3.1
lightstep==4.0.2
livereload==2.6.0
Markdown==3.0.1
MarkupSafe==1.1.0
mccabe==0.6.1
mkdocs==1.0.4
mock==2.0.0
more-itertools==5.0.0
nose==1.3.7
openapi-spec-validator==0.2.4
opentracing==2.0.0
packaging==19.0
pbr==5.1.1
pluggy==0.8.1
protobuf==3.6.1
py==1.7.0
py-ms==1.0.0
pylint==2.3.0.dev1
pyparsing==2.3.1
pytest==4.1.1
pytest-cov==2.6.1
python-coveralls==2.9.1
python-json-logger==0.1.10
PyYAML==4.2b4
requests==2.21.0
requests-mock==1.5.2
safety==1.8.4
six==1.12.0
smmap2==2.0.5
stevedore==1.30.0
swagger-ui-bundle==0.0.3
thrift==0.10.0
toml==0.10.0
tornado==6.0a1
tox==3.7.0
typed-ast==1.1.0
urllib3==1.24.1
virtualenv==16.3.0
Werkzeug==0.14.1
wrapt==1.11.1
